body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#tela-principal {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

button {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

/* Estilos para centralizar o botão no meio do final da página */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

footer button {
    margin-bottom: 20px; /* Espaço entre o botão e a parte inferior da página */
}

