/* Estilos Gerais */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #f8f9fa;
    color: #343a40;
}

main {
    flex: 1; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tela-principal {
    display: flex; /* Ativa o Flexbox para melhor controle */
    flex-direction: column; /* Organiza os elementos em coluna */
    justify-content: flex-end; /* Alinha os elementos no final do container */
    max-width: 100%;
    max-height: 100%;
    background-color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    font-size: 1.5rem;
}

p {
    font-size: 10px; /* Alteração no tamanho da fonte para 10 pixels */
    color: #666;
}

#nome-usuario {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

#nome-usuario, .data, #titulo {
    margin-bottom: 5px; /* Adiciona uma pequena margem inferior a cada elemento */
    margin-top: 5px; /* Remove a margem superior do segundo título */
  }
  

/* Estilo para o botão de salvar */
.btn-salvar {
    background-color: #4CAF50; /* Cor de fundo verde */
    color: white;
    padding: 12px 12px;
    border: none;
    border-radius: 30px; /* Bordas arredondadas */
    cursor: pointer;
    transition: background-color 0.3s; /* Transição suave de cor ao passar o mouse */
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase; /* Transforma o texto em maiúsculas */
    letter-spacing: 1px; /* Espaçamento entre as letras */
}

/* Estilo para o ícone dentro do botão */
.btn-salvar i {
    margin-right: 0px;
}

/* Estilo para o botão de salvar ao passar o mouse */
.btn-salvar:hover {
    background-color: #45a049; /* Cor de fundo verde ligeiramente mais escura */
}

#symptomForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.checkbox-label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.checkbox-container label {
    font-weight: normal;
    color: #343a40; /* Cor original do texto */
  }
  

.checkbox-label input[type="checkbox"] {
    width: 18px;
    height: 18px;
    margin-right: 8px;
    accent-color: #007bff;
}

.button-container {
    text-align: center;
    margin-top: 30px;
}

.next-button {
    padding: 12px 25px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
